
  // Font family
  $font-family: 'Nunito','Helvetica Neue','Roboto', Helvetica, Arial, sans-serif;
  $font-family-heading:'Montserrat', Helvetica, Arial, sans-serif;
  // primary colors:
  $primary-100: #E8F2FC;
  $primary-200: #A0B5CA;
  $primary-300: #7590AB;
  $primary-400: #4D6B89;
  $primary-500: #294563;
  $primary-600: #1C3D5E;
  $primary-700: #133556;
  $primary-800: #0B2C4D;
  $primary-900: #052341;
  //reading colors:
  $reading-100: #CFEBD7;
  $reading-200: #A3D3B0;
  $reading-300: #7AB88B;
  $reading-400: #559A67;
  $reading-500: #37854D;
  $reading-600: #257139;
  $reading-700: #19672E;
  $reading-800: #105B23;
  $reading-900: #084D1A;
  //Listening colors:
  $listening-100: #CCFBFF;
  $listening-200: #99F2FF;
  $listening-300: #6EE3F5;
  $listening-400: #4CCEE2;
  $listening-500: #32B4C8;
  $listening-600: #1BAABF;
  $listening-700: #099CB2;
  $listening-800: #008A9F;
  $listening-900: #007680;
  //Writing colors:
  $writing-100: #FFEECE;
  $writing-200: #FFDCA5;
  $writing-300: #FFCB84;
  $writing-400: #FFBA6B;
  $writing-500: #F9A95A;
  $writing-600: #DF943D;
  $writing-700: #BF7F26;
  $writing-800: #9F6913;
  $writing-900: #805405;
  //Speaking colors:
  $speaking-100: #FED6DE;
  $speaking-200: #F8B2C0;
  $speaking-300: #EC92A5;
  $speaking-400: #DC788D;
  $speaking-500: #C76378;
  $speaking-600: #B94C63;
  $speaking-700: #A8384F;
  $speaking-800: #94263D;
  $speaking-900: #7D192E;
  // Success colors:
  $success-100: #EBFAF2;
  $success-200: #C2F0D9;
  $success-300: #85E0B2;
  $success-400: #5CD699;
  $success-500: #33CC7F;
  $success-600: #2EB872;
  $success-700: #29A366;
  $success-800: #248F59;
  $success-900: #1F7A4C;
  // Info colors:
  $info-100: #EDF8FD;
  $info-200: #CAEAF8;
  $info-300: #94D5F2;
  $info-400: #71C7ED;
  $info-500: #4DB9E9;
  $info-600: #45A7D2;
  $info-700: #3E94BA;
  $info-800: #3682A3;
  $info-900: #2E6F8C;
  // Warning colors:
  $warning-100: #FFF9EC;
  $warning-200: #FFECC6;
  $warning-300: #FFD88C;
  $warning-400: #FFCB66;
  $warning-500: #FFBE40;
  $warning-600: #E6AB3A;
  $warning-700: #CC9833;
  $warning-800: #B3852D;
  $warning-900: #997226;
  // Error colors:
  $error-100: #FEF0F0;
  $error-200: #FCD1D1;
  $error-300: #F8A3A3;
  $error-400: #F68585;
  $error-500: #F46666;
  $error-600: #DC5C5C;
  $error-700: #C35252;
  $error-800: #AB4747;
  $error-900: #923D3D;
  
@mixin transition() {
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

$mobile-width: 767px; 
$tablet-width: 768px; 
$mdesktop-width: 992px;
$tabletpro-width: 1024px;
$desktop-width: 1200px;
$laptop1366-width: 1366px;
$laptop1440-width: 1440px;
$fullHD-width: 1920px;
@mixin mobile { @media (max-width: #{$mobile-width}) {     
  @content;   
 } 
} 

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$mdesktop-width - 1px}) {       
   @content;   
 } 
}
@mixin tabletpro { @media (min-width: #{$tablet-width}) and (max-width: #{$tabletpro-width}) {
   @content;
 } 
}
@mixin mdesktop { @media (min-width: #{$mdesktop-width}) and (max-width: #{$desktop-width - 1px}){     
  @content;  
 } 
}
@mixin mlaptop { @media (min-width: #{$desktop-width}) and (max-width: #{$fullHD-width - 1px}){  
  @content;
 } 
}
@mixin desktop { @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
@mixin exmobile { @media (min-width: #{$tablet-width}) {     
  @content;   
 } 
}
@mixin tabletmobile { @media (max-width: #{$mdesktop-width - 1px}) {     
  @content;
 } 
}
@mixin fullHD { @media (min-width: #{$fullHD-width}) {
  @content;
 } 
}

.flex-grid {
  --spacing: 20px;
  --columns: 3;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  @include mobile {
    --spacing: 0px;
    --columns: 1;
  }
  &:after, &:before {
    content: normal;
  }

  > div, > a {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    @include mobile {
      margin-bottom: 1.5rem;
    }
  }
}