@font-face {
  font-family: 'iaticon';
  src:
    url('fonts/iaticon.ttf?l9vlbo') format('truetype'),
    url('fonts/iaticon.woff?l9vlbo') format('woff'),
    url('fonts/iaticon.svg?l9vlbo#iaticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iaticon-"], [class*=" iaticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iaticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iaticon-swap-right:before {
  content: "\e905";
}
.iaticon-eye-open:before {
  content: "\e903";
}
.iaticon-eye-close:before {
  content: "\e904";
}
.iaticon-grid:before {
  content: "\e912";
}
.iaticon-user:before {
  content: "\e90a";
}
.iaticon-my-test-history:before {
  content: "\e911";
}
.iaticon-wallet:before {
  content: "\e909";
}
.iaticon-search:before {
  content: "\e902";
}
.iaticon-ai-file:before {
  content: "\e900";
}
.iaticon-star-four:before {
  content: "\e901";
}
